<% provide(:title, "ユーザー一覧ページ") %>
<h1>ユーザー一覧</h1>
<div class="text-right">
  <%= form_tag(users_path,method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag "検索" %>
  <% end %>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate %>
    <table class="table table-condensed ">
      <tbody>
        <% @users.each do |user| %>
          <div>
            <p><%= user.name %></p>
            <%= link_to "削除", user_path(user), method: :delete, class: "btn btn-primary" %>
            <div class="users-list acdb-button"><%= link_to "編集", '#', class: "btn btn-primary btn-lg btn-edit", id: "acdb-button" %></div>
            <p id="acdb-content">ありがとう</p>
          </div>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>