<% provide(:title, "ユーザー一覧ページ") %>
<% provide(:class_text, "edit") %>
<% provide(:button, "変更") %>
<h1>ユーザー一覧</h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table ">
      <tbody>
        <tr>
          <td>
            <%= form_tag(import_users_path, multipart: true) do %>
              <%= file_field_tag :file %>
              <%= submit_tag "CSVインポート", class: "btn btn-primary" %>
            <% end %>
          </td>
        </tr>
        <% @users.each.with_index(1) do |user, item| %>
            <tr>
             <td><%= user.name %></td> 
            </tr>
            <tr>
              <td><%= link_to "削除", user, method: :delete, 
                  class: "btn btn-primary", data: { confirm: "削除してよろしいですか？"} %>
              </td>
            </tr>
            <tr>
              <td class="btn-edit">
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample<%= "#{item}" %>">編集</a>
              </td>
            </tr>
            <tr class="collapse" id="collapseExample<%= "#{item}" %>">
              <td>
                <div class="row">
                  <div class="col-md-10">
                    <%= form_with(model: user, url: user_path(user), local: true, method: :patch) do |f| %>
                  
                       <%= f.label :name, class: "label-#{yield(:class_text)}" %>
                       <%= f.text_field :name, class: "form-control" %>
                          
                       <%= f.label :email, class: "label-#{yield(:class_text)}" %>
                       <%= f.email_field :email, class: "form-control" %>
                       
                       <%= f.label :affiliation, class: "label-#{yield(:class_text)}" %>
                       <%= f.text_field :affiliationt, class: "form-control" %>
                       
                       <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
                       <%= f.text_field :employee_number, class: "form-control" %>
                       
                       <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
                       <%= f.text_field :uid, class: "form-control" %>
                          
                       <%= f.label :password, class: "label-#{yield(:class_text)}" %>
                       <%= f.password_field :password, class: "form-control" %>
                          
                       <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
                       <%= f.password_field :password_confirmation, class: "form-control" %>
                       
                       <%= f.label :basic_work_time, class: "label-#{yield(:class_text)}" %>
                       <%= f.time_field :basic_work_time, class: "form-control" %>
                       
                       <%= f.label :designated_work_start_time, class: "label-#{yield(:class_text)}" %>
                       <%= f.time_field :designated_work_start_time, class: "form-control" %>
                       
                       <%= f.label :designated_work_end_time, class: "label-#{yield(:class_text)}" %>
                       <%= f.time_field :designated_work_end_time, class: "form-control" %>
                       
                       <%= f.submit yield(:button), class: "btn btn-block btn-primary btn-signup" %>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>